@font-face{
	font-family: xilosa;
	src: url(xilosa.ttf);
}

.tabuleiro{
	font-family: xilosa;
	display: grid;
	height: 93vh;
	margin-top: 2%;
	grid-template-columns: 7.5% 7.5% 7.5% 7.5% 7.5% 7.5% 7.5% 7.5% 7.5%;
	grid-template-rows: 14% 14% 14% 14% 14% 14% 14%;

}
.main{
	top: 2%;
	left: 68%;
	width: 32%;
	height: 97%;
	position: absolute;
	background-color: lightblue;
	text-align: center;
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
}

.logo{
	font-family: xilosa;
	font-size: 48px;
}
.perguntas{
	font-family: Arial, Helvetica, sans-serif;
	background-color: white;
	margin-left: 5%;
	margin-right: 5%;
}
.player{
	position: absolute;
	left: 70px;
	background-color: black;
    width: 60px;
    height: 60px;
    border-radius: 50%;

}
.player1{
	position: absolute;
	background-color: blue;
    width: 60px;
    height: 60px;
    border-radius: 50%;

}
.Pos0{
	display: grid;
	background-image:radial-gradient(#96ce80ff, #96ce80ff, #7ec363ff); /*Verde*/
	height: 148%;
	grid-column-start: 1;
	border-style: solid;
	border-color: black;
	border-width: 0.2vw;
	margin-top: -22%;
	writing-mode: vertical-rl;
	font-size: 2.5vw;
	align-content: center;
}

.Pos1{
	display: grid;
	background-image:radial-gradient(#f7b4d1ff, #f7b4d1ff, #f494bdff); /*Rosa*/
	height: auto;
	grid-column-start: 2;
	border-style: solid;
	border-color: black;
	border-right: 0.2vw;
}

.Pos2{
	display: grid;
	background-image:radial-gradient(#fff682ff, #fff682ff, #fff134ff); /*amarelo*/
	height: auto;
	grid-column-start: 3;
	border-style: solid;
	border-color: black;
	border-right: 0.2vw;

}
.Pos3{
	display: grid;
	background-image:radial-gradient(#b0e1edff, #b0e1edff, #77cae1ff); /*azul*/
	height: auto;
	grid-column-start: 4;
	border-style: solid;
	border-color: black;
	border-right: 0.2vw;
}
.Pos4{
	display: grid;
	background-image:radial-gradient(#f79468ff, #f79468ff, #f57a43ff); /*laranja*/
	height: auto;
	grid-column-start: 5;
	border-style: solid;
	border-color: black;
	border-right: 0.2vw;
}
.Pos5{
	display: grid;
	background-image:radial-gradient(#96ce80ff, #96ce80ff, #7ec363ff); /*Verde*/
	border-style: solid;
	border-color: black;
	border-right: 0.2vw;
	height: auto;
	grid-column-start: 6;
}
.Pos6{
	display: grid;
	background-image:radial-gradient(#fff682ff, #fff682ff, #fff134ff); /*amarelo*/
	height: auto;
	grid-column-start: 7;
	border-style: solid;
	border-color: black;
	border-right: 0.2vw;
}
.Pos7{
	display: grid;
	background-image:radial-gradient(#f79468ff, #f79468ff, #f57a43ff); /*laranja*/
	height: auto;
	grid-column-start: 8;
	border-style: solid;
	border-color: black;
	border-right: 0.2vw;
}
.Pos8{
	display: grid;
	background-image:radial-gradient(#96ce80ff, #96ce80ff, #7ec363ff); /*Verde*/
	height: auto;
	grid-column-start: 9;
	border-style: solid;
	border-color: black;
	border-width: 0.2vw;
}
.Pos9{
	display: grid;
	background-image:radial-gradient(#b0e1edff, #b0e1edff, #77cae1ff); /*azul*/
	height: auto;
	grid-column-start: 9;
	border-style: solid;
	border-color: black;
	border-top: 0.2vw;
	border-bottom: 0.2vw;
}

.Pos11{
	display: grid;
	background-image:radial-gradient(#f79468ff, #f79468ff, #f57a43ff); /*laranja*/
	height: auto;
	grid-column-start: 2;
	border-style: solid;
	border-color: black;
	border-right: 0.2vw;
}
.Pos12{
	display: grid;
	background-image:radial-gradient(#f7b4d1ff, #f7b4d1ff, #f494bdff); /*Rosa*/
	height: auto;
	grid-column-start: 3;
	border-style: solid;
	border-color: black;
	border-right: 0.2vw;

}
.Pos13{
	display: grid;
	background-image:radial-gradient(#b0e1edff, #b0e1edff, #77cae1ff); /*azul*/
	height: auto;
	grid-column-start: 4;
	border-style: solid;
	border-color: black;
	border-right: 0.2vw;
}
.Pos14{
	display: grid;
	background-image:radial-gradient(#96ce80ff, #96ce80ff, #7ec363ff); /*Verde*/
	height: auto;
	grid-column-start: 5;
	border-style: solid;
	border-color: black;
	border-right: 0.2vw;
}
.Pos15{
	display: grid;
	background-image:radial-gradient(#b0e1edff, #b0e1edff, #77cae1ff); /*azul*/
	height: auto;
	grid-column-start: 6;
	border-style: solid;
	border-color: black;
	border-right: 0.2vw;
}
.Pos16{
	display: grid;
	background-image:radial-gradient(#f79468ff, #f79468ff, #f57a43ff); /*laranja*/
	height: auto;
	grid-column-start: 7;
	border-style: solid;
	border-color: black;
	border-right: 0.2vw;
}
.Pos17{
	display: grid;
	background-image:radial-gradient(#f7b4d1ff, #f7b4d1ff, #f494bdff); /*Rosa*/
	height: auto;
	grid-column-start: 8;
	border-style: solid;
	border-color: black;
	border-right: 0.2vw;
}
.Pos10{
	display: grid;
	background-image:radial-gradient(#fff682ff, #fff682ff, #fff134ff); /*amarelo*/
	height: auto;
	grid-column-start: 9;
	border-style: solid;
	border-color: black;
	border-width:  0.2vw;
}
.Pos18{
	display: grid;
	background-image:radial-gradient(#fff682ff, #fff682ff, #fff134ff); /*amarelo*/
	height: auto;
	width: 96.7%;
	grid-column-start: 2;
	border-style: solid;
	border-color: black;
	border-top: 0.2vw;
	border-bottom: 0.2vw;
}
.Pos19{
	display: grid;
	background-image:radial-gradient(#96ce80ff, #96ce80ff, #7ec363ff); /*Verde*/
	height: auto;
	grid-column-start: 2;
	border-style: solid;
	border-color: black;
	border-right: 0.2vw;
}
.Pos20{
	display: grid;
	background-image:radial-gradient(#f7b4d1ff, #f7b4d1ff, #f494bdff); /*Rosa*/
	height: auto;
	grid-column-start: 3;
	border-style: solid;
	border-color: black;
	border-right: 0.2vw;

}
.Pos21{
	display: grid;
	background-image:radial-gradient(#fff682ff, #fff682ff, #fff134ff); /*amarelo*/
	height: auto;
	grid-column-start: 4;
	border-style: solid;
	border-color: black;
	border-right: 0.2vw;
}
.Pos22{
	display: grid;
	background-image:radial-gradient(#f7b4d1ff, #f7b4d1ff, #f494bdff); /*Rosa*/
	height: auto;
	grid-column-start: 5;
	border-style: solid;
	border-color: black;
	border-right: 0.2vw;
}
.Pos23{
	display: grid;
	background-image:radial-gradient(#f79468ff, #f79468ff, #f57a43ff); /*laranja*/
	height: auto;
	grid-column-start: 6;
	border-style: solid;
	border-color: black;
	border-right: 0.2vw;
}
.Pos24{
	display: grid;
	background-image:radial-gradient(#b0e1edff, #b0e1edff, #77cae1ff); /*azul*/
	height: auto;
	grid-column-start: 7;
	border-style: solid;
	border-color: black;
	border-right: 0.2vw;
}
.Pos25{
	display: grid;
	background-image:radial-gradient(#96ce80ff, #96ce80ff, #7ec363ff); /*Verde*/
	height: auto;
	grid-column-start: 8;
	border-style: solid;
	border-color: black;
	border-right: 0.2vw;
}
.Pos26{
	display: grid;
	background-image:radial-gradient(#f7b4d1ff, #f7b4d1ff, #f494bdff); /*Rosa*/
	height: auto;
	grid-column-start: 9;
	border-style: solid;
	border-color: black;
	border-width: 0.2vw;
}
.Pos27{
	display: grid;
	background-image:radial-gradient(#fff682ff, #fff682ff, #fff134ff); /*amarelo*/
	height: auto;
	grid-column-start: 9;
	border-style: solid;
	border-color: black;
	border-top: 0.2vw;
	border-bottom: 0.2vw;
}

.Pos36{
	display: grid;
	background-image:radial-gradient(#b0e1edff, #b0e1edff, #77cae1ff); /*azul*/
	height: 148%;
	grid-column-start: 1;
	grid-row: 7;
	border-style: solid;
	border-color: black;
	border-width: 0.2vw;
	margin-top: -22%;
	writing-mode: vertical-rl;
	font-size: 2.5vw;
	align-content: center;

}


.Pos28{
	display: grid;
	background-image:radial-gradient(#96ce80ff, #96ce80ff, #7ec363ff); /*Verde*/
	height: auto;
	grid-column-start: 2;
	border-style: solid;
	border-color: black;
	border-right: 0.2vw;
}
.Pos29{
	display: grid;
	background-image:radial-gradient(#f7b4d1ff, #f7b4d1ff, #f494bdff); /*Rosa*/
	height: auto;
	grid-column-start: 3;
	border-style: solid;
	border-color: black;
	border-right: 0.2vw;

}
.Pos30{
	display: grid;
	background-image:radial-gradient(#b0e1edff, #b0e1edff, #77cae1ff); /*azul*/
	height: auto;
	grid-column-start: 4;
	border-style: solid;
	border-color: black;
	border-right: 0.2vw;
}
.Pos31{
	display: grid;
	background-image:radial-gradient(#fff682ff, #fff682ff, #fff134ff); /*amarelo*/
	height: auto;
	grid-column-start: 5;
	border-style: solid;
	border-color: black;
	border-right: 0.2vw;
}
.Pos32{
	display: grid;
	background-image:radial-gradient(#f7b4d1ff, #f7b4d1ff, #f494bdff); /*Rosa*/
	height: auto;
	grid-column-start: 6;
	border-style: solid;
	border-color: black;
	border-right: 0.2vw;
}
.Pos33{
	display: grid;
	background-image:radial-gradient(#96ce80ff, #96ce80ff, #7ec363ff); /*Verde*/
	height: auto;
	grid-column-start: 7;
	border-style: solid;
	border-color: black;
	border-right: 0.2vw;
}
.Pos34{
	display: grid;
	background-image:radial-gradient(#f79468ff, #f79468ff, #f57a43ff); /*laranja*/
	height: auto;
	grid-column-start: 8;
	border-style: solid;
	border-color: black;
	border-right: 0.2vw;
}
.Pos35{
	display: grid;
	background-image:radial-gradient(#b0e1edff, #b0e1edff, #77cae1ff); /*azul*/
	height: auto;
	grid-column-start: 9;
	border-style: solid;
	border-color: black;
	border-width: 0.2vw;
}